<nav>
    <div class="container">
        <a href="/" id="logo">Library Portal</a>
    </div>
</nav>

<!-- columns should be the immediate child of a .row -->
<div class="container main-contain">
    <!-- columns should be the immediate child of a .row -->
    <div id="patron-info">
        <div class="row">

            <h1 class="patron-info-items">Welcome, <span id="patron-name"> {{newUser.name}} </span>!</h1>

            <br>
            <h4 class="patron-info-items">Card number: <span id="patron-cardno">{{newUser.cardNumber}}</span></h4>
            <br>
            <h5 class="patron-info-items">Patron since: <span id="patron-add-date">{{newUser.createdAt}}</span></h5>

        </div>
    </div>

    <div id='patron-side'>
        <button class="standard-button twelve columns" id="goToSearch">SEARCH OUR CATALOG</button>

        <div class="patron-tabs">
            <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">Items Out</li>
                <li class="tab-link" data-tab="tab-2">Wishlist</li>
                <li class="tab-link" data-tab="tab-3">History</li>
            </ul>

            <div id="tab-1" class="tab-content current">
                <br><br>
                
                <li>
                {{newUser.itemsOut}}
                </li>
            </div>
            <div id="tab-2" class="tab-content">
                
            </div>
            <div id="tab-3" class="tab-content">
                <br><br>
                
                <li>
                {{newUser.history}}
                </li>
            </div>

        </div>

    </div>
</div>